@font-face {
  /* Font face declaration */
  font-family: OpensansRegular;
  src: url(fonts/Open_Sans/static/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpensansHeader;
  src: url(fonts/Open_Sans/static/OpenSans-SemiBold.ttf);
}

body {
  font-family: OpensansRegular, sans-serif;
}

h1 {
  font-family: OpensansHeader;
}

.mycontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust this value to control the height of the container */
  background-color: #f0f0f0; /* Change this to your desired background color */
}

.mycontainer > input {
  width: 15rem;
  height: 2rem;
  font-size: 1rem;
  margin: 0.625rem;
}

.mycontainer > input:focus {
  background-color: bisque;
}
button {
  padding: 0.625rem;
  font-size: 1rem;
}

button:hover {
  background-color: #a5e1d2;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  color: rgba(55, 59, 65, 0.8);
}

.show > li {
  display: inline-block;
  list-style-type: none;
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
}

li > span {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: lighter;
}
